@import url("./value.css");
@import url('https://fonts.googleapis.com/css2?family=Kite One&display=swap');

*{
    margin: 0;
    padding: 0;

    font-family: 'Kite One', sans-serif;
}

body{
    min-height: 100vh;
    background: linear-gradient(0deg, var(--accent_1) 0%, var(--primary) 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.container{
    margin: auto;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    width: 50%;
}

.hero_card{
    margin: 50px 0;
}

.hero_name{
    margin-top: 20px;
    justify-content: center;
    text-align: center;
    font-size: 28px;
}

.hero_image{
    margin: auto;
    display: flex;

    height: 100px;
    aspect-ratio: 1;

    border-radius: 50%;
    background-color: var(--accent_1);

    color: var(--primary);
    justify-content: center;
    align-items: center;
    font-size: 42px;

    cursor: pointer;
    overflow: hidden;

    box-shadow:
    13.6px 10.9px 21.5px rgba(0, 0, 0, 0.11),
    18.3px 14.8px 52.2px rgba(0, 0, 0, 0.075),
    21.4px 17.2px 111.9px rgba(0, 0, 0, 0.051),
    124px 100px 340px rgba(0, 0, 0, 0.045);
}

.hero_image>img{
    height: 100px;
    width: 100px;
}

.link_container{
    position: relative;
}

.link_button{
    margin-bottom: 10px;
    padding: 1em 2em;
    display: block;
    
    color: #252525b6;
    background-color: transparent;
    
    border-radius: 10em;
    border: 1px solid var(--accent_1);
    overflow: hidden;
    
    min-width: 300px;
    max-width: 350px;
    
    box-shadow: 0 0 0 0 var(--accent_1);
    font-size: 17px;
    font-weight: 600;
    cursor: pointer;
    text-align: center;
    transition: all 0.3s ease-in-out;
}

.link_copy_button{
    padding: 1em 2em;
    position: absolute;
    top: .9em;
    right: .9em;
    
    color: #252525b6;
    background-color: transparent;
    
    border-radius: 10em;
    border: 1px solid var(--accent_1);

    width: 50px;
    height: 20px;
    
    box-shadow: 0 0 0 0 var(--accent_1);
    font-size: 17px;
    cursor: pointer;
    text-align: center;
}

.link_copy_button::before{
    content: 'copy';
    position: absolute;
    left: 1em;
    top: .2em;
}


.link_button:hover {
    transform: translateY(-4px) translateX(-2px);
    box-shadow: 2px 5px 0 0 var(--accent_1);
}

.link_button:active {
    transform: translateY(2px) translateX(1px);
    box-shadow: 0 0 0 0 var(--accent_1);
}

.footer{
    margin: 50px;
    text-align: center;
    bottom: 0;

    color: var(--accent_1);
}